<div class="claro">
    <div data-dojo-type="dijit.layout.TabContainer" style="min-height: 600px;">
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: 'Wysiwyg'">
            <textarea data-dojo-attach-point="_tinymceNode"></textarea>
        </div>
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: 'Code'">
            <textarea data-dojo-attach-point="_codeMirrorNode"></textarea>
        </div>
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: 'Preview'">
            <div data-dojo-attach-point="_valueNode"></div>
        </div>
    </div>
</div>